<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Products</title>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
    <h1>This is Handle BAR</h1>
    <h1>Product Listing</h1>

    <ul class="list-group">
        
     
    {{#each product}}

        <li class="list-group-item">ji</li>

   {{/each}}
</ul>
</body>
</html>